<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <!-- 
        web.xml: 배포서술자
                웹 서버가 구동되자마자 가장 먼저 읽혀지는 파일
    -->

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <!--
        모든 설정파일들을 읽어들일 수 있는 "최상위 도구(==root-context.xml)"를 등록한 부분
        =>서버 구동과 동시에 곧바로 읽어낼 문서인 root-context.xml(최상위 설정 파일) 파일을 등록한 부분
        root-context.xml: 전반적인 셋팅을 담당하는 파일
    -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/spring/root-context.xml
            /WEB-INF/spring/spring-security.xml
        </param-value>
	</context-param>
    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>classpath:/log4j2.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
    </listener>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
    <!-- 
        모든 설정 파일들을 연결할 수 있는 도구를 등록한 부분
    -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
    <!-- 
        응용 프로그램의 "요청 처리"를 어떻게 할건지 등록한 부분
        즉, 스프링에서 제공하는 메인 요청 처리를 해주는 서블릿을 등록했음.(무조건 있어야함)
        =>해당 서블릿의 이름: DispatcherServlet

        *항상 Spring에서의 모든 요청은 DispatcherServlet 클래스를 거쳐간다
        DispatcherServlet 클래스는 우리가 코드 수정이 불가능하다
        추가적으로 내가 요청시 처리할 설정사항이 있을 경우엔 servlet-context.xml파일에 등록시킨다
        servlet-context.xml : 요청에 대한 환경설정을 담당하는 파일
    -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
    <!-- 
        /로 시작하는 모든 요청을 appServlet으로 보내겠다
        =>appServlet이 DispatcherServlet 클래스를 의미함
    -->
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <!-- 
        *필터
        모든 요청 처리 전 공통적으로 필요로 하는 기능들을
        클라이언트의 요청을 Controller가 받기전에 가로채서 선처리 해주는 개념
        =>"요청"을 받기 전에 미리 가로 채야하기 때문에 애초에 서버구동과 동시에 읽혀지는 web.xml에 등록함

        *스프링에서 제공하는 인코딩 필터를 등록
        -클래스명: org.springframework.web.filter.CharacterEncodingFilter
    -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!--인코딩 방식을 지정 -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <!-- 옵션: 혹시나 인코딩할 때 충돌이 난 경우 강제로 UTF-8로 인코딩 될 수 있도록-->
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!--위에서 지정한 encodingFilter를 모든 요청 패턴에 적용-->
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
